<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="nogari.system.auth.dao.mapper.AuthMapper">
    
    <select id="selectAuthMst" resultType="AuthMstDTO">

    </select>

    <select id="selectAuthDtl" parameterType="String" resultType="AuthDtlDTO">
    </select>

    <insert id="insertAuthMst" parameterType="AuthMstDTO">
    </insert>

    <insert id="insertAuthDtl" parameterType="AuthDtlDTO">
    </insert>

</mapper>