<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="nogari.system.ntbd.dao.mapper.NtbdMapper">

    <select id="selectBoard" parameterType="String" resultType="nogari.system.ntbd.domain.dto.BoardRespDto">
        SELECT NTBD_CD
             , NTBD_DIV
             , VIEW_CNT
             , POST_NM
             , POST_CONT
             , POST_IN_DATE
             , POST_OUT_DATE
             , REG_DT
             , REG_ID
             , UPD_DT
             , UPD_ID
             , TOP_YN
             , FILE_CD
          FROM NOTICE_BOARD
         WHERE 1=1
           AND NTBD_CD = #{ntbdCd}
    </select>
    <select id="selectBoardList" parameterType="String" resultType="BoardRespDto">
        SELECT NTBD_CD
             , NTBD_DIV
             , VIEW_CNT
             , POST_NM
             , POST_IN_DATE
             , POST_OUT_DATE
             , REG_ID
             , UPD_DT
             , UPD_ID
             , TOP_YN
             , FILE_CD
        FROM NOTICE_BOARD
    </select>
</mapper>