<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="nogari.system.ntbd.dao.mapper.NtbdMapper">

    <!-- 게시글 조회 -->
    <select id="selectBoard" parameterType="String" resultType="nogari.system.ntbd.domain.dto.BoardRespDto">
        SELECT NTBD_CD
             , NTBD_DIV
             , VIEW_CNT
             , POST_NM
             , POST_CONT
             , POST_IN_DATE
             , POST_OUT_DATE
             , REG_DT
             , REG_ID
             , UPD_DT
             , UPD_ID
             , TOP_YN
             , FILE_CD
          FROM NOTICE_BOARD
         WHERE 1=1
           AND NTBD_CD = #{ntbdCd}
    </select>

    <!-- 게시글 목록 조회 -->
    <select id="selectBoardList" parameterType="String" resultType="BoardRespDto">
        SELECT NTBD_CD
             , NTBD_DIV
             , VIEW_CNT
             , POST_NM
             , POST_IN_DATE
             , POST_OUT_DATE
             , REG_ID
             , UPD_DT
             , UPD_ID
             , TOP_YN
             , FILE_CD
        FROM NOTICE_BOARD
    </select>

    <!-- 게시글 저장 -->
    <insert id="insertBoard" parameterType="BoardReqDto">
        INSERT
        INTO NOTICE_BOARD (
                        NTBD_CD
                      , NTBD_DIV
                      , POST_NM
                      , POST_CONT
                      , POST_IN_DATE
                      , POST_OUT_DATE
                      , REG_DT
                      , REG_ID
                      , UPD_DT
                      , UPD_ID
                      , TOP_YN
                      , FILE_CD
        )
        VALUES (
                 #{ntbdCd}
               , #{ntbdDiv}
               , #{postNm}
               , #{postCont}
               , #{postInDate}
               , #{postOutDate}
               , CURRENT_DATE
               , #{userId}
               , CURRENT_DATE
               , #{userId}
               , #{topYn}
               , #{fileCd}
               )
    </insert>
</mapper>