<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="nogari.global.batch.dao.mapper.SeqInitBatchMapper">

    <select id="selectCurrentSeq"  resultType="String">
        /* queryId = selectCurrentSeq */
        SELECT SEQ_ERR_LOG.NEXTVAL FROM DUAL
    </select>

    <update id="updateIncrement" parameterType="String">
        /* queryId = updateIncrement */
        ALTER SEQUENCE SEQ_ERR_LOG INCREMENT BY ${value} MINVALUE 0
    </update>


</mapper>